<header class="home pt-5 position-relative overflow-x-hidden" id="home">
  <div class="styleBg"></div>

  <div class="container pt-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div
          class="home-info me-5 overflow-x-hidden pb-3"
          data-aos="fade-right"
          data-aos-duration="2500"
        >
          <ngx-typed-js
            [strings]="['Eissa El-Emam.', 'a Front-End Developer.']"
            [loop]="true"
            [backSpeed]="40"
            [smartBackspace]="false"
            [backDelay]="1000"
            [typeSpeed]="60"
            (completed)="doSmth()"
          >
            <h2>
              <h2>H<span>i</span>, There</h2>
              <h1>I'm <span class="typing"></span></h1>
            </h2>
          </ngx-typed-js>

          <!-- <p>
            I'm a young professional front-end developer with above-average
            experience, but I can create high-performance websites. I am
            passionate about learning programming and software engineering. I
            have a great passion for this field, which makes me learn,
            participate, and contribute to society and industry. I am very
            curious to know all the updates in this area as well as the ability
            to self-manage and collaborate with others on group projects. I'm
            quick to learn with There is great potential to move between
            different technologies in a short period of time. Sooner or later, I
            will make a big impact in this area. I am looking for a suitable job
            as a developer using my skills and knowledge in a reputable company
            where I can benefit the company from my skills, take full advantage
            of the experience I possess, and enhance it.
          </p> -->

          <p>
            I'm a web develober & front-end developer focused on crafting clean
            & user friendly expriences, I'm passionate about building excellent
            software that improves the lives of those around me.
          </p>
          <div class="cv-btn">
            <a
              href="https://drive.google.com/file/d/1W7KHnpcgErKkQTICL8zUiSVPr4tPUVoA/view?usp=sharing"
              download
              class="btn my-3 px-4"
              >Download Cv</a
            >
          </div>

          <div class="social-links mt-2">
            <a
              href="https://www.linkedin.com/in/eissa-elemam-376734269/"
              class="btn"
              target="_blank"
            >
              <i class="fa-brands fa-2x fa-linkedin"></i>
            </a>

            <a href="https://github.com/Eissa44" class="btn" target="_blank">
              <i class="fa-brands fa-2x fa-github-square"></i>
            </a>

            <a
              href="https://web.facebook.com/profile.php?id=100004158580162"
              class="btn"
              target="_blank"
              ><i class="fa-brands fa-2x fa-facebook"></i
            ></a>

            <a
              href="mailto:eissaelemam67@gmail.com"
              class="btn"
              target="_blank"
            >
              <i class="fa-solid fa-2x fa-envelope-open"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="home-img" data-aos-duration="3000" data-aos="fade-left">
          <img
            src="./assets/img/header/5V3A1199.jpg"
            alt="home image"
            class="rounded-4 w-100 ms-4"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- END OF REGION SECTION HEADER -->

  <!-- START OF REGION SWITCHER COLOR -->
  <!-- <aside id="side-bar" class="d-flex align-items-sm-start position-fixed">
        <div class="setting">
          <i class="fa-solid fa-gear fa-spin fa-2x" role="button"></i>
        </div>
        <div id="side-contents">
          <div
            class="side-content p-2 d-flex flex-column align-items-center gap-2"
          >
            <h3 class="px-2 pb-1 fs-4 border-bottom">Style switcher</h3>
            <div class="box-color">
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
            </div>

            <div class="box-color">
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
              <span class="item-color rounded-circle" role="button"></span>
            </div>
          </div>
        </div>
      </aside> -->
  <!-- END OF REGION SWITCHER COLOR -->

  <!-- START OF REGION AROW DOWN -->
  <!-- <a
        href="#about"
        class="go-down position-absolute translate-middle rounded-4"
      >
        <i class="fa-solid fa-angles-down fa-3x"></i>

      </a> -->
  <!-- END OF REGION AROW DOWN -->

  <!-- START OF REGION UPAROW -->
  <!-- <a
        href="#home"
        class="go-up z-3 translate-middle position-fixed rounded-circle"
        ><i class="fa-sharp fa-solid fa-arrow-up fa-2x"></i
      ></a> -->
  <!-- END OF REGION UPAROW -->
</header>
<!-- END OF REGION SECTION HEADER -->
